*{
  font-family: "Poppins", sans-serif;

}
.commn-section-title{
  font-weight: 600;
  font-size: 36px;
}
.shoes-backpack-section-title-parent{
  display: flex;
  justify-content: space-between;

}
.shoes-backpack-section-title-parent p{
  font-size: 20px;
  font-weight: 500px;
  color: #FF9D00;
}
.shoes-backpack-section-title-parent h1{
color: #1F1F1F;
font-weight: 600px;
font-size: 36px;
}
.containar{
  max-width: 1280px;
  margin: auto;
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.search-parent{
position: relative;
color: #BABABA;

}
.search-parent input{
  background-color:  rgb(241, 241, 241);
  border-radius: 66px;
  padding: 15px 30px;
  width: 500px; 
  border: none;
}
.search-parent i{
  position: absolute;
  top: 15px;
  right: 30px;
}
.nav-items{
  display: flex;
  list-style: none;
  gap: 24px;
}
.nav-items li a{
  text-decoration: none;
  color:#707070 ;
  font-size: 16px;
  font-weight: 600;
  
}
.btn{
  width: 168px;
  height: 52px;
  border-radius: 6px;
  color: #FFFFFF;
  border: none;
  font-weight: 600;
  padding: 20px;
background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);

}

.banner{
background-color: #FEEAE9;
display: flex;
justify-content: space-between;
gap: 5px;
 align-items: center;
 border-radius: 10px;
 padding: 28px;
 margin-top: 33px;

}
.banner h1{
  color: #1F1F1F;
  font-size:56px ;
  font-weight: bold;
}
.banner p{
  font-size: 16px;
  color: #4E4E4E;
  font-weight: 400;
}
.banner-img{
  width: 402px;
height: 378px;

}
.banner-price{
  color: #FF136F;
  font-size: 41px;
  font-weight: bold;
  display: block;
  margin-bottom: 0;

}




.categories{
margin-top: 64px 0;

}
.categories-card{
  display: flex;
  justify-content: space-between;
 
  gap: 5px;
  align-items: center;
  padding:20px ;
  border-radius: 10px;
  flex: 1;
}
.categories-card h3{
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.categories-card-container{
display: flex;
gap: 26px;

}
.categories-card:nth-child(1) {
   background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
}
.categories-card:nth-child(2) {
background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
}
.categories-card:nth-child(3) {
  background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
}



.shoes-section{
 
 padding: 50px 0;
}



.shoe-card-container{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.shoe-card{
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
}
.crad-price{
  display: block;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}
.shoe-card img{
  width: 336px;
height: 202px
}
.shoe-card .btn{
  background: black;
}
.shoes-backpack-parent{
  background: rgb(244, 244, 244);
}
.contact-us{
  background-color: #FFF2F1;
  text-align: center;
  padding: 35px 20px;
  margin: 35px auto;
  border-radius: 15px;
}
.contact-inp-btn input{
border: none;
padding: 20px 155px;
color: #CCCCCC;
}
.contact-inp-btn .btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}